$red: #F65261;
$dark-gray: #424242;
$placeholder-color: #828282;
$black-opacity: rgba(35, 35, 35, 0.81);
$black: #232323;
$black-2: #323232;
$input-bg: rgba(50, 50, 50, 0.8);
$gray-1: #555555;
$gray-2: #979797;
$gray-3: #6b6b6b;
$gray-4: rgba(96, 96, 96, 0.68);
$white: #FFFFFF;
